name: Main

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:

  main:
    name: Main Process
    runs-on: ubuntu-latest
    env:
      GO_VERSION: stable
      GOLANGCI_LINT_VERSION: v2.8.0
      CGO_ENABLED: 0

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # https://github.com/marketplace/actions/setup-go-environment
      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check and get dependencies
        run: |
          go mod tidy
          git diff --exit-code go.mod
          git diff --exit-code go.sum
          go mod download

      - name: Install golangci-lint ${{ env.GOLANGCI_LINT_VERSION }}
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          install-only: true

      - name: Make
        run: make
